 /* For pages containing posts
----------------------------------------------- */

/* Headers
----------------------------------------------- */
h1, h2, h3, h4, h5 {
  margin: 1em 0;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h1, h3.post-title {
  font-size: 200%;
}

h2.date-header {
  padding-top: 1ex;
  font-size: 90%;
}

/* Tooltips
----------------------------------------------- */
a.tooltip {
  position: relative;
  z-index: 24;
  width: 100%;
}

a.tooltip:hover {
  z-index: 25;
  text-decoration: none;
}

a.tooltip div {
  display: none;
}

a.tooltip img {
  display: inline;
}

a.tooltip:hover div { /* the span will display just on :hover state */
  display: block;
  position: absolute;
  padding: 1ex;
  top: 0;
  left: 2em;
  z-index: 25;
  margin: 0 2em 0 0;
  border: 1px solid #0cf;
  background-color: #cff;
  color: #000;
  text-align: center;
  word-wrap: normal;
  border-radius: 5px;
}

/* Ads
----------------------------------------------- */
.inline-ad {
  text-align: center;
  margin: 10px 0;
}

/* Post layout
----------------------------------------------- */
.post {
  margin: 0 0 2ex 0;
}

h3.post-title, .comments h4 {
  margin: .75em 0 0;
}

.post-header {
  margin: 0 0 1.5em;
  line-height: 1.6;
}

.post-footer {
  margin: 10px 2px 0;
  padding: 5px 10px;
  line-height: 1.6;
  font-size: 90%;
}

/* Related posts widget
----------------------------------------------- */
ul.rpw {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.rpw li {
  margin: 0 0 4px 4px;
  clear: both;
}
ul.rpw strong {
  font-weight: normal;
}
ul.rpw a {
  text-decoration: none;
  outline: none;
}
/** image **/
ul.rpw img {
  padding: 0 2ex 1ex 0;
  float: left;
}

/* Posting style
----------------------------------------------- */
.post-body p, dl {
  margin: 1em 0;
}

.post-body p.grey, .post-body ul li.grey, .post-body span.grey {
  color: grey;
}

.post-body ul, ol {
  margin: 0.5em 0px;
  padding: 0px 2.5em;
}

.post-body ul, ol {
  margin: 0.5em 0px;
  padding: 0px 2.5em;
}

.post-body dd {
  padding: 0 0 1ex 2.5em;
}

/* Images
----------------------------------------------- */
.post-body img, .post-body object, .post-body embed, .post-body iframe.fright {
  float: right;
  padding: 0 0 1ex 2ex;
}

.post-body img.fleft, .post-body object.fleft, .post-body iframe.fleft {
  float: left;
  padding: 0 2ex 1ex 0;
}

/* Frames
----------------------------------------------- */
.post-body iframe.hidden {
  position: absolute;
  top: -4000px;
}

/* Inline images
----------------------------------------------- */
.post-body p img, .post-body td img,
.post-body p object, .post-body p embed, .post-body td object  {
  float: none;
  vertical-align: middle;
  padding: 0;
}

/* Block embeds for scripts
----------------------------------------------- */
.post-body textarea {
  width: 100%;
  height: 10ex;
}

.post-body iframe.conf {
  width: 100%;
  height: 600px;
}

.post-body iframe.idoc {
  width: 100%;
  border: 1px solid;
}

/* Code highlight
----------------------------------------------- */
.post-body code, .post-body pre {
  font: normal 120% monospace;
  color: blue;
}

.post-body pre {
  margin: 0 0 1em;
  padding: 0.5em 0;
  background-color: #eee;
  border: 1px dashed lightGrey;
}

/* Epigraph
----------------------------------------------- */
.post-body p.epi {
 padding-left: 25%;
}

/* Accurate tables
----------------------------------------------- */
.post-body table, .post-body tr, .post-body th, .post-body td {
  padding: 1ex;
  border-collapse: collapse;
  border: solid;
  border-width: 1px;
}

/* Transparent tables
----------------------------------------------- */
.post-body table.nob, .post-body table.nob tr, .post-body table.nob th, .post-body table.nob td,
.post-body tr.nob, .post-body td.nob {
  border: none;
}

/* Github gists
----------------------------------------------- */
.gist { font-size: 10px; }
.gist table, .gist td, .gist tr { border: none; }

/* Boxed tables
----------------------------------------------- */
.post-body table.boxed {
  border: dashed;
  border-collapse: separate;
  border-spacing: 1ex;
}

.post-body table.boxed td, .post-body table.boxed th {
  padding: 1ex;
  border-width: .5ex;
  text-align: center;
  font-weight: normal;
  border-style: outset;
}

/* Formulae
----------------------------------------------- */
.formula {
  position: relative;
  text-align: center;
  padding-right: 8em;
}

.formula span {
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Radic
----------------------------------------------- */
span.over {
  text-decoration: overline;
}


.post-body cite {
  font-size: 80%;
}
