/* Body
----------------------------------------------- */
#navbar-iframe {
  display: none !important;
  height: 0 !important;
}

body {
  margin: 0;
  line-height: 1.5;
}

/* Links
----------------------------------------------- */
a:link, a:visited , a:hover {
  text-decoration: underline;
}

/* Headers
----------------------------------------------- */
.Header h1 {
  font-size: 90%;
  text-decoration: none;
}

/* Images
----------------------------------------------- */
a img {
  border-width: 0;
}

/* Logo
----------------------------------------------- */
.Header .descriptionwrapper {
  padding: 0 !important;
}

/* Widgets
----------------------------------------------- */
.widget {
  padding: 1ex;
  float: left;
  border-radius: 1ex;
}

