/* Body
----------------------------------------------- */
#navbar {
  display: none;
}

body {
  margin: 0;
  line-height: 1.5;
}

/* Links
----------------------------------------------- */
a:link, a:visited , a:hover {
  text-decoration: underline;
}

/* Images
----------------------------------------------- */
a img {
  border-width: 0;
}

img.fleft {
  margin: 0;
  padding: 0;
  float: left;
}

/* Logo
----------------------------------------------- */
.Header .descriptionwrapper {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 86%;
}

/* Widgets
----------------------------------------------- */
.widget {
  margin: 15px;
  padding: 15px;
  float: left;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.header-inner .widget {
  text-align: center;
  margin: 15px !important;
}

.header-inner .HTML {
}
