/* Template specific style */
body {
  padding: 0;
}

body.mobile {
  padding: 0;
}
/*
html body $(page.width.selector) {
  min-width: 0;
  max-width: 100%;
  width: $(page.width);
}

.content-outer {
  margin: 0;
}

.content-inner {
  padding: $(content.padding) $(content.padding.horizontal);
}

$(content.background.color.selector) {
  background-color: $(content.background.color);
}
*/
/* Header
----------------------------------------------- */
/*
.header-outer {
  background: $(header.background.color) $(header.background.gradient) repeat-x scroll 0 -400px;
  _background-image: none;
}

.Header h1, h1, h2, h3, h4, h5 {
  font: $(header.font);
}

.Header h1, .Header h1 a {
  color: $(header.text.color);
}

.Header .description {
  font-size: $(description.text.size);
  color: $(description.text.color);
}

.header-inner .Header .titlewrapper {
  padding: 22px $(header.padding);
}

.header-inner .Header .descriptionwrapper {
  padding: 0 $(header.padding);
}
*/

/* Tabs
----------------------------------------------- */
.tabs-inner .section:first-child {
  border-top: 1px solid #eee;
}

.tabs-inner .section:first-child ul {
  margin-top: -1px;
  border-top: 1px solid #eee;
  border-left: 0px solid #eee;
  border-right: 0px solid #eee;
}

.tabs-inner .widget ul {
  _background-image: none;
  border-bottom: 1px solid #eee;

  margin-top: 0;
  margin-left: -2ex;
  margin-right: -2ex;
}

.tabs-inner .widget li a {
  display: inline-block;
  padding: .6em 1em;

  color: #999;

  border-left: 1px solid #fff;
  border-right: 1px solid #eee;
}

.tabs-inner .widget li:first-child a {
  border-left: none;
}

.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
  color: #000;
  background-color: #eee;
  text-decoration: none;
}

.tabs-inner .widget li:first-child a {
  border-$startSide: none;
}

.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
  color: $(tabs.selected.text.color);
  background-color: $(tabs.selected.background.color);
  text-decoration: none;
}
*/
/* Columns
----------------------------------------------- */
/*
.main-outer {
  border-top: $(main.border.width) solid $(body.rule.color);
}

*/
/* Widgets
----------------------------------------------- */
/*
.widget .zippy {
  color: $(widget.alternate.text.color);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}
*/
.widget .popular-posts ul {
  list-style: none;
}

/* Posts
----------------------------------------------- */
/*
.main-inner {
  padding-top: $(main.padding.top);
  padding-bottom: $(main.padding.bottom);
}

.main-inner .column-center-inner {
  padding: 0 $(main.padding);
}

.main-inner .column-center-inner .section {
  margin: 0 $(main.section.margin);
}

.post {
  margin: 0 0 $(post.margin.bottom) 0;
}

h3.post-title, .comments h4 {
  font: $(post.title.font);
  margin: .75em 0 0;
}

.post-body {
  font-size: 110%;
  line-height: 1.4;
  position: relative;
}

.post-header {
  margin: 0 0 1.5em;

  line-height: 1.6;
  font-size: 90%;
}

.post-footer {
  margin: 20px -2px 0;
  padding: 5px 10px;

  color: $(post.footer.text.color);
  background-color: $(post.footer.background.color);
  border-bottom: 1px solid $(post.footer.border.color);

  line-height: 1.6;
  font-size: 90%;
}

body {
  min-width: $(content.width);
}

.content-outer, .region-inner {
  min-width: $(content.width);
  _width: $(content.width);
}

.main-inner .columns {
  padding-left: $(main.column.left.width);
  padding-right: $(main.column.right.width);
}

  .main-inner .column-left-outer {
    width: $(main.column.left.width);
    right: 100%;
    margin-left: -$(main.column.left.width);
  }

  .main-inner .column-right-outer {
    width: $(main.column.right.width);
    margin-right: -$(main.column.right.width);
  }

  #layout {
    min-width: 0;
  }

  #layout .content-outer {
    min-width: 0;
    width: 800px;
  }

  #layout .region-inner {
    min-width: 0;
    width: auto;
  }

  .titleimage {
    margin: 0 $(padding);
  }
  .titlewrapper {
    min-width: $(content.width);
  }
*/
/* Accents
---------------------------------------------- */
/*
.section-columns td.columns-cell {
  border-$startSide: 1px solid $(body.rule.color);
}

.blog-pager {
  background: $(paging.background);
}

.blog-pager-older-link, .home-link,
.blog-pager-newer-link {
  background-color: $(content.background.color);
  padding: 5px;
}

.footer-outer {
  border-top: $(footer.bevel) dashed #bbbbbb;
}
*/

/* Comments
----------------------------------------------- */
#comments .comment-author {
  padding-top: 1.5em;
  background-position: 0 1.5em;
}

#comments .comment-author:first-child {
  padding-top: 0;
  border-top: none;
}

.avatar-image-container {
  margin: .2em 0 0;
}

#comments .avatar-image-container img {
  border: none;
}

