/* Default
----------------------------------------------- */
*, .section, .tabs-inner {
  margin: 0;
  padding: 0;
  position: static;
}

#navbar {
  display: none;
}

/* Widths
----------------------------------------------- */
.tabs-outer, .main {
  width: 860px;
}

.header-inner .widget {
  width: 226px;
}

/* Body
----------------------------------------------- */
body {
  line-height: 1.5;
}

.content {
  margin: 15px;
}

/* Links
----------------------------------------------- */
a:link, a:visited , a:hover {
  text-decoration: underline;
}

/* Images
----------------------------------------------- */
a img {
  border-width: 0;
}

img.fleft {
  float: left;
}

/* Logo
----------------------------------------------- */
.Header .descriptionwrapper {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 90%;
}

/* Widgets
----------------------------------------------- */
.section {
}

aside {
  float: left;
  width: 320;
}

.widget {
  margin: 15px !important;
  padding: 15px;
  float: left;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.widget-content {
  margin: 0 auto;
}

.header-inner img {
  display: block;
  margin: 0 auto;
}

.header-inner .widget {
  height: 54px;
  text-align: center;
}

.header-inner .HTML {
  font-size: 140%;
}
