/* Template specific style */






/* Comments
----------------------------------------------- */
#comments .comment-author {
  padding-top: 1.5em;
  background-position: 0 1.5em;
}

#comments .comment-author:first-child {
  padding-top: 0;
  border-top: none;
}

.avatar-image-container {
  margin: .2em 0 0;
}

#comments .avatar-image-container img {
  border: none;
}



