/* Widths
----------------------------------------------- */
ul.menu, .menuWrapper, HTML {
  width: 830px;
}
ul.menu > li, ul.menu > li > a {
  width: 276px;
}

/* Beautifications
----------------------------------------------- */

.menuWrapper {
  font-family:  "Trebuchet MS", Arial, sans-serif;;
  font-size:  15px;
  font-style:  normal;
  font-weight:  normal;
  text-transform: uppercase;
  letter-spacing:  normal;
  line-height:  1.45em;
  position: relative;
  height: 542px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
ul.menu {
  list-style: none;
}
ul.menu > li {
  float: left;
  height: 542px;
  border-right: 1px solid #777;
  background-repeat: no-repeat;
  background-color: transparent;
}
ul.menu > li.last {
  border: none;
  background-position: -554px 0;
}
.mid {
  background-position: -277px 0;
}
.bg1 {
  background-image:  url(http://lh3.ggpht.com/_aUeHSbJneFc/TPoxM6AVMGI/AAAAAAAADH0/Kr7iHDTr4E0/s830/consult1.jpg);
}
.bg2 {
  background-image:  url(http://lh3.ggpht.com/_aUeHSbJneFc/TPqx2mJuNJI/AAAAAAAADIc/-ptbqjLjOGM/s830/consult2.jpg);
}
.bg3 {
  background-image:  url(http://lh6.ggpht.com/_aUeHSbJneFc/TPlIYHMgP8I/AAAAAAAADHg/k4ajhekdFQ4/s830/consult3.jpg);
}

ul.menu > li > a {
  float: left;
  height: 50px;
  margin-top: 450px;
  text-align: center;
  line-height: 50px;
  color: #ddd;
  background-color: #333;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 0px 1px #fff;
}
ul.menu > li ul {
  list-style: none;
  float: left;
  margin-top: -160px;
  width: 100%;
  height: 110px;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 !important;
}
ul.menu > li ul li {
  display: none;
}
ul.menu > li ul.sub1 {
  background-image: url(http://lh3.ggpht.com/_aUeHSbJneFc/TPkbdo93C2I/AAAAAAAADHE/gVozP6VLt0Q/s800/bg1sub.png);
}
ul.menu > li ul.sub2 {
  background-image: url(http://lh6.ggpht.com/_aUeHSbJneFc/TPkbdtcabOI/AAAAAAAADHI/KkVA0eOFaPE/s800/bg2sub.png);
}
ul.menu > li ul.sub3 {
  background-image: url(http://lh5.ggpht.com/_aUeHSbJneFc/TPkbdiBNcXI/AAAAAAAADHM/IZ5VxvQYOBA/s800/bg3sub.png);
}
ul.menu > li ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  margin-left: 20px;
  text-shadow: 1px 1px 1px #444;
  font-size: 11px;
}
ul.menu > li ul.sub1 li {
  display: block;
}
ul.menu > li ul li a: hover {
  border-bottom: 1px dotted #fff;
}

.reference {
  margin: 2ex;
  text-align: right;
}

.reference p a {
  text-shadow: 1px 1px 1px #fff;
  color: #666;
  text-decoration: none;
  font-size: 10px;
}
.reference p a:hover {
  color: #333;
}

/* Corrections
----------------------------------------------- */
#HTML6 {
  padding: 0;
}

ul.menu{
  padding: 0 !important;
}
